*.log
node_modules
CURRENT
LOCK
LOG*
MANIFEST*

packs/pf2e-summons-assistant-actors/LOG.old
packs/pf2e-summons-assistant-actors/LOG
packs/pf2e-summons-assistant-items/LOG.old
packs/pf2e-summons-assistant-items/LOG.
